<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p class="menuitem" (click)="drawer.toggle(); showFiller=!showFiller; page1()">Page 1</p>
      <mat-divider></mat-divider><br>
      <p class="menuitem" (click)="drawer.toggle(); showFiller=!showFiller; page2()">Page 2</p>
      <mat-divider></mat-divider><br>
      <p class="menuitem" (click)="drawer.toggle(); showFiller=!showFiller; page3()">Page 3</p>
    </mat-drawer>
  
    <div class="example-sidenav-content">
        <p>
            <mat-toolbar color="primary">
                    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
                        <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="drawer.toggle(); showFiller=!showFiller">{{ !showFiller ? 'menu': 'close'}}</mat-icon>
                    </button>
                <span>EpiApp</span>
                <span style="position: absolute;right:30px; font-size: 15px;text-align: right; cursor: pointer;" (click)="openDialog()" *ngIf="!showFiller">{{nome}}</span>
            </mat-toolbar>
        </p>
    </div>
    <div style="margin: 20px;">
        <router-outlet></router-outlet>
    </div>
    
  </mat-drawer-container>

