.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin-right: auto; margin-left: auto;
    box-shadow: 0 0 15px 0 #425563;
  }

  .example-sidenav{
      padding:40px 20px 0 10px;
      text-align: left;
      background-color: #425563;
      color: #ffcd00;
      min-width: 250px;
  }

  .menuitem{
      cursor: pointer;
  }

  .menuitem:hover{
      color:#fff0b3;
  }